
.container {
    composes: container from './../../App.css';
    justify-content: center;
}
.productsContainer {
    composes: container;
    justify-content: center;
}

.container .filterBlock{
    position: relative;
    display: flex;
    width: 83%;
    margin-top: 15px;
    margin-bottom: 15px;
}
.container .filterBlock:after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
    background-color: #4f4f4f;
}
.container .filterBlock .filterBlockIn{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    font-family: 'Vollkorn',sans-serif;
}
.container .filterBlock .filterBlockIn:after{
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    height: 1px;
    width: 100%;
    background-color: #4f4f4f;
}
.container .filterBlock .filterBlockIn .filterBtn{
    width: 30%;
    padding: 5px;
}

.container .filterBlock .filterBlockIn .filterBtn:hover{
    font-weight: bold;
}
.filterBtn {
    position: relative;
    color: #ff5500;
    padding: 0;
    border: none;
    font-size: 20px;
    margin-bottom: 5px;
    /*font-weight: bolder;*/
    display: flex;
    justify-content: center;
    min-width: 66px;
}
.filterBtn.active{
    font-weight: bold;
    color: #662700;
}

.container .filterBlock .filterBlockIn .filterBtn + .filterBtn {
    margin-left: 5px;
}
.container .filterBlock .filterBlockIn .filterBtn:nth-child(4n+4){
    margin-left: 0;
}
