.formControl {
    display: flex;
    align-items: start;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 2rem;
}

.fieldWrapper {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: left;
    min-width: 8rem;
}

.error textarea,
.error select,
.error input {
    border: solid red 1px;
}

.errorMessage {
    color: red;
}

.success textarea,
.success input,
.success select {
    border: solid #0acc00 1px;
}

.row {
    display: flex;
    flex-direction: row;
}
