.formControl
{
    display: flex;
    align-items: start;
    flex-direction: column;
    justify-content: flex-start;

    margin-top: 2rem;
}

.fieldWrapper
{
    display: flex;
    align-items: center;
    align-self: baseline;
    flex-direction: column;
    justify-content: left;
}


.error textarea,
.error input
{
    border: solid red 1px;
}

.errorMessage
{
    color: red;
}

.success textarea,
.success input
{
    border: solid #0acc00 1px;
}

.row
{
    display: flex;
    flex-direction: row;
}
