.aboutWrapper {
    margin-top: 5rem;
    padding-top: 1.5rem;
}
.aboutWrapper .row:nth-child(2n) {
    flex-direction: row-reverse;
}

.container {
    padding: .5rem;
    composes: container from './../../App.css';
}

.row {
    justify-content: space-between;
    max-width: 90%;

    composes: row from './../../App.css';
}

.col {
    flex-direction: column;
    width: initial;
    text-align: left;

    composes: container;
}
.col > img {
    width: 450px;
}
.col5{
    composes: col;
    max-width: 41.666667%;
}
.col7
{
    composes: col;
    max-width: 58.333333%;
}