.btnAdd
{
    width: 6rem;

    composes: mainBtn from './../../App.css';
}
.success {
    background-color: #c38a0d;
    border-color: #c36d26;
    color: #FFFFFF;
}
.success:hover {
    background-color: #c38a0d;
    border-color: #c36d26;
}
