.btnAdd
{
    width: 6rem;

    composes: mainBtn from './../../App.css';
}
.success {
    background-color: rgba(255, 126, 5, 0.37);
    border-color: rgb(255, 126, 5);
    color: #FFFFFF;
}
.success:hover {
    background-color: rgba(255, 126, 5, 0.37);
    border-color: rgb(255, 126, 5);
}
